.code__editor {
    width: 54%;
}

.code__editor__bg {
    width: 100%;
    height: 366px;
    background-color: var(--blue-editor-background);
    border-radius: 8px;
    padding: 32px;
}

.code__editor__window {
    width: 100%;
    height: 100%;
    background-color: var(--dark-gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.code__editor__window__toolbar{
    width: 100%;
    height: 12%;
}

.toolbar--red-circle {
    width: 12px;
    height: 12px;
    background-color: var(--mac-red);
    border-radius: 50%;
    display: inline-block;
    margin: 16px 0 0 16px;
}

.toolbar--yellow-circle {
    width: 12px;
    height: 12px;
    background-color: var(--mac-yellow);
    border-radius: 50%;
    display: inline-block;
    margin: 16px 0 0 16px;
}

.toolbar--green-circle {
    width: 12px;
    height: 12px;
    background-color: var(--mac-green);
    border-radius: 50%;
    display: inline-block;
    margin: 16px 0 0 16px;
}

.code__editor__wrapper {
    width: 100%;
    height: 88%;
    padding: 2.5%;
}

.preview {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--dark-gray);
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9rem;
    overflow: auto;
    min-inline-size: max-content;
    white-space: pre;
    resize: none;
}

code::-webkit-scrollbar {
    background: var(--dark-gray);
    width: 10px;
}

.preview::-webkit-scrollbar-thumb {
    background: rgba(80, 255, 255, 0.16);
    border-radius: 8px;
}

.highlight-button {
    margin-top: 2rem;
    width: 100%;
    height: 56px;
    background: rgba(80, 129, 251, 0.08);
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

.highlight-button:hover {
    background: rgba(80, 129, 251, 0.16);
}

.highlight-button:active{
    border: 4px solid rgba(80, 129, 251, 0.24);
    background: rgba(80, 129, 251, 0.24);
}

@media screen and(max-width: 1023px){
    .code__editor {
        width: 100%;
    }
}

@media screen and(max-width: 767px){
    .code__editor__bg{
        height: 492px;
    }
}